body {
    background-color: rgba(255, 230, 255, 0.5);
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
}

header h1 {
    color: rgb(140, 25, 255,);
}

img {
    width: 250px;
    height: 150px;
}
main {
    background-color: rgb(122, 74 , 218, 0.8);
    width: 700px;
    margin: 32px auto;
    border-radius: 8px;
    padding: 32px;
    color: rgb(255, 255, 255)
}

li {
    list-style-type: none;
    margin: 15px -20px;
    padding: 5px;
    border-left: 5px solid transparent;
}

a {
    background-color: rgba(230, 255, 3, 0.743);
    text-decoration: none;
    border-radius: 5px;
    padding: 0px 5px;
}

/* button {
    background-color: yellow;
    border-radius: 25px;
    height: 50px;
    width: 200px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    margin: 25px auto;
    display: block;
    font-size: 15px;
    text-decoration: none;
} */

#button {
    background-color: rgba(251, 251, 82, 0.92);
    margin: 25px auto;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #000;
    color: black;
}


#button:hover  {
    background-color: rgba(128, 255, 0, 0.8);
    color: #000;
}

footer {
    text-align: center;;
}

.hilight {
    color: rgb(255, 237, 177);
    border-left: 5px solid rgb(255, 237, 177);
}

footer p {
    font-size: 1px;
}